<!DOCTYPE html>
<html lang="en">
    {% include 'repeatable/head.html.twig' %}
    <body>
        {# Render Navbar with Categories Passed from Controller #}
        {% include 'repeatable/navbar.html.twig' with {'categories': categories|default([])} %}

        <div class="container mt-5">
            <h1>Navbar Testing</h1>

            <p>This is a test page for the navbar with dynamic categories.</p>
        </div>

        {% include 'repeatable/scripts.html.twig' %}
    </body>
</html>